@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);

    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);

    /* Font */
    --font-size-paragraph: 15px;
    --family: "Outfit", sans-serif;
}
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

