@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);

    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);

    /* Font */
    --font-size-paragraph: 15px;
    --family: "Outfit", sans-serif;
}
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--family);
    background-color: var(--slate300);
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    max-width: 375px;
    padding: 1.2em 1.2em 2em 1.2em;
    border-radius: 25px;
    background-color: var(--white);
    margin-bottom: 2em;
}

main img {
    width: 100%;
    border-radius: 10px;
}

.description-qr-code {
    padding: 1.3em;
    text-align: center;
}

h1 {
    color: var(--slate900);
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: .8em;
}

p {
    color: var(--slate500);
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: .2px;
}


@media screen and (max-width: 768px) {
    main {
        max-width: 320px;
    }

    .description-qr-code {
        padding: 1em;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width: 1441px) {
    
    main {
        max-width: 400px;
    }
}

@media screen and (min-width: 2000px) {
    main {
        max-width: 500px;
    }
}

